body{
    background-image: url('https://image.freepik.com/free-photo/male-hand-holds-car-keys-yellow-background-concept-car-car-rental-gift-driving-lessons-driving-license-flat-lay-top-view_98774-338.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#stickyHeader{
    position: sticky;
    top: 0;
    background-image: linear-gradient(pink,cornflowerblue);
}

#adminLoginBtn,#loginBtn,#registerBtn{
    width: 250px;
}